[Unit]
Description=Collect top CPU and memory process metrics

[Service]
Type=oneshot
ExecStart=/home/vazir/.nizam-dotfiles/scripts/metrics-processes.sh
User=root
