[Unit]
Description=Collect active SSH session metrics

[Service]
Type=oneshot
ExecStart=/home/vazir/nizam-dotfiles/scripts/metrics-sessions.sh
User=root
Environment=HOME=/home/vazir