[Unit]
Description=Collect directory disk usage metrics

[Service]
Type=oneshot
ExecStart=/home/vazir/nizam-dotfiles/scripts/metrics-disk.sh
User=root
Environment=HOME=/home/vazir
