[Unit]
Description=Generate services and software inventory

[Service]
Type=oneshot
User=vazir
ExecStart=/home/vazir/.nizam-dotfiles/scripts/watch-inventory.sh
